
/* general */
body{
    font-family: 'Varela Round', sans-serif;}
*{
    margin: 0;
    padding: 0;
}
.container{
    width:80%;
    margin:auto;
}

.clear{
    clear: both;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.border-bottom-d{
    border-bottom: 1px solid#ddd;
}
.width-100{
    width: 100%;
}
.overflow-hidden{
    overflow: hidden;
}
.float-left{
    float: left;
}
.text-transform-capitalize{
    text-transform: capitalize;
}
.color-6195ff{
    color: #6195ff;
}
.a-hover-color:hover{
    color: #6195ff;
}
/* nav section*/
.blog-header{
    
   position: fixed;
    background-color: #fff;
    z-index: 10;
}

.blog-logo{
    
    width: 20%;

}
.blog-logo img{
    width:95px;
    height: 50px;
    margin-top: 5px;
}

.blog-navbar  .nav{
    width: 80%;
    text-align: right;
}
.blog-navbar > .nav > .blog-nav-links > li{
    display: inline-block;
    
}
.blog-navbar > .nav > .blog-nav-links > li > a{
    
    color: #000;
    display: block;
    padding: 18.5px 12px;
    
}
 
.blog-navbar  .nav > .blog-nav-links > li > a::after{
    content:"";
    display:block;
    height:3px;
    background-color:#6195ff;  
    width:0;
    transition: width .5s;
  }
  .blog-navbar  .nav > .blog-nav-links > li >  a:hover::after{
    width:100%;  
  }



.blog-navbar  .nav > .blog-nav-links .active-after::after{
    content:"";
    display:block;
    height:3px;
    background-color:#6195ff;  
    width:100%;
    transition: width .5s;
  }

.drop{
    position: relative;
    
}
.drob-menu{
    position: absolute;
    background: #6195ff;
    list-style: none;
    width: 150px;
    text-align: center;
    left: 50%;
    top: 50%;
    opacity: 0;
    visibility: hidden;
   
    transform: translate(-50%, -50%);
    margin-top: 50px;
    padding: 10px;
    transition: opacity 0.8s;
   
}


.drob-menu  a{
    text-decoration: none;
    
    color: #fff;
    text-transform: capitalize;

}
.drob-menu li{
    display: inline-block;
}
.drop:hover  .drob-menu {
    opacity: 1;
    visibility: visible;
}
.drob-menu a:hover{
  color:blue;;
}

/*end nav*/
/* breadcumbs section*/
.breadcumbs{
    margin-top: 100px 0 0;
    padding: 60px ;
    background-color: #f9f9f9;
    margin-bottom: 100px;
    
}

.blog-title{
   
    font-weight: bold;
    font-size: 30px;
    
    width: 30%;
    margin-top: 54px;
}
.breadcums-links{
    
    width: 70%;
   
    text-align: right;
    margin-top: 50px;

}
.breadcums-links li{
    display: inline-block;
}
.breadcums-links li + li ::before{
    content: "/";
    padding: 0 8px;
    color: #000;
 
}

.breadcums-links li a{
    display: block;
   
    color: #000;
    padding: 15px 0;
}
.breadcums-links li  .active{ 
    color: #6195ff;
}

/*end breadcumbs*/
/*main post secion*/
.main-post-content{
    width: 70%;
}

.main-post-content span i{
    padding: 10px;
    margin: 10px 0;
}

.main-post-title{
  margin: 12px 0;
  
}
.main-post-title::first-letter{
    text-transform: uppercase;
}
.mainpost-des{
    color: #999;
    line-height: 1.5;
}


.category{
    
    width: 30%;
    
   text-align: left;
}
.category-content{
    margin-left: 30px;

}
.category-content .search{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: 0;
    margin-bottom: 25px;

}
.category-content input[type="text"]{
    padding: 10px ;
    width: 95%;
    border: 1px solid#ddd;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding-left: 16px;
    color: #000;
}
.category-content input[type="text"]::placeholder{
    color: #ddd;
    text-transform: capitalize;
 
}
.category-content i{
    position: absolute;
    top:50%;
    left: 90%;
    transform: translate(-50%,-50%);  
   
}


.category-title{
    text-transform: uppercase;

    
}
.category-title::after{
    content: "";
    display: block;
    margin:10px 0 5px 0;
    background-color: #6195ff;
    width: 44px;
    height: 4px;
}
.category-links{
   
    padding-top: 5px;
    margin: 10px 0 20px ;
}
.category-links > li{
    border-top: 1px solid#ddd;
}
.category-links li{
    padding: 5px;
    position: relative;
}

.category-links li a{
    color: #000;
}

.category-links li span
{
    position: absolute;
    right:0;
} 

.postes-itemes{
    position: relative;
    top:-18px;
}

.popu{
    border-bottom: none;
}


    
.posts-item{
    position: relative;
    padding: 19px 105px;
    width:90%;
    margin-top: 15px ;
   
}

.postes-item-img {
    
    height: 70px;
    position: absolute;
    top:24px;
    left: 0;
   
    
}
.postes-item-img img{
    height: 100%;
    width: 20%;
}
.post-item-title{
    font-size: 19px;
    padding-top: 2px;
      margin-left: 10px;
  
}
.post-item-title::first-letter{
    text-transform: uppercase;
}
.poets-item-des{
    font-size: 14px;
    margin-left: 10px;
    
}
.p-y{
    margin: 120px 0;
}

.team-inf .tages{
   margin: 10px 0;
    
}
.tages-title{
   
    font-size: 15px;
    font-weight: bold;
    
    
    padding: 5px;
}
.tages-links{
   
    width: 92%;
    
}
.tages-links li{
    display: inline-block;
   border: 1px solid#ddd;
   padding: 5px;
   background-color:#f5f5f5d5;

   transition: opcity .5s;
}
.tages-links li:hover{
    opacity: .5;
}
.tages-links li a{
    display: block;
   font-size: 15px;
   font-weight: bold;
    
    color: #000;
}


/*Section qustion */
.q-section{
    
    position: relative;
    padding: 40px 0;
    
}

.q-section-items{

    width: 70%;
      position: relative;
  }
  .q-section-item{
    
    border: 1px solid#ddd;
   
    margin-right: 3px;
}
.q-section-item-image{
    padding: 20px;
    height: 120px;
}
.q-section-item-image img{
    height: 100%;
}
.q-section-item-title-des{
    
    width: 80%;
    position: absolute;
    left: 170px;
    top: 20px;
}

.q-section-item-des{
    padding: 20px 20px 20px 0;
    color: #999;
}
.q-section-item-title::after{
    content: "";
    display: block;
    width: 94%;
    height: 1px;
    background-color: #ddd;
    margin: 20px 0 0 ;

}

.q-section-item-title-des .social-icon{
    position: absolute;
    top:0;
    right: 35px;
}
.social-icon{
    
    position: absolute;  
   text-align: center;
}
.q-section-item-title-des .social-icon li{
    display: inline-block;
    line-height: 30px;
    height: 30px;
    width: 30px;
}
.q-section-item-title-des .social-icon li a{
    display: block;
    background-color: #6195ff;
    border-radius: 5px;
}
.social-icon li a i{
  color: #fff;  
}
.q-section-items.tag{
    width: 30%;  
}
.q-section-item-tag-content{
  
   margin-left: 30px;
   position: relative;
}
.q-section-item-tag-content .tages-title{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    width: 50px;
    padding: 5px;
    position: absolute;
    top: -50px;
    left: 0;  
}

.q-section-item-tag-content .tages-title::after{
    content: "";
    display: block;
    margin:10px 0 0 ;
    background-color: #6195ff;
    width: 80%;
    height: 3px;
}
.q-section-item-tag-content .tages-links{
    width: 80%;
    margin: 10px 0;
}
.q-section-item-tag-content .tages-links li{
    display: inline-block;
   border: 1px solid#ddd;
   padding:5px 10px;
   background-color:#f5f5f5d5;
   margin-bottom: 3px;
   transition: opcity .5s;
}
.q-section-item-tag-content .tages-links li{
    opacity: hover .5;
}
.q-section-item-tag-content .tages-links li a{
    display: block;
   font-size: 15px;
   font-weight: bold;
}

/* end Section qustion */
/*Section coments */
.comments-items{
     position: relative;
     border: 1px solid#ddd;
     margin-top: 20px;
     width: 70%;
}
.comments-item{
    padding: 5px 0 20px 0;
    border: 1px solid#ddd;
    position: relative;
    margin: 10px;
}

.comments-item-image{
    width: 10%;
    height: 70px;
    padding: 10px ;
  
    margin-right: 10px;
}
.comments-item-image img{
   
   height: 100%;
 
}

.comments-item-des{
    margin: 7px 0; 
    width: 80%;
    
 }
 .comments-item-title{
    
    margin-bottom: 8px;
}
.comments-item-decs{
  
    line-height: 1.5;
    font-size: 14px; 
}
.comments-item.activt{
    border:1px solid#6195ff;
    background-color: rgba(226, 226, 226, 0.61);
}
.comments-item-title.activt{
    color: #6195ff;
}

.comments-item-icon{
   
    position: absolute;
    top:0;
    right: 30px;
}
.comments-item-icon li{
    display: inline-block;
}
.comments-item-icon-time{
    color: #999;
    margin:15px  300px 0 0;
    text-transform: uppercase;
    font-size: 14px;
}
.comments-item-icon a {
    display: block;
    
    font-size: 14px;
    text-transform: uppercase;
}
.comments-item-icon a  i ,.comments-item-icon a {
   color: #6195ff;
    
}
/* end Section coments */
/*section replay*/

.replay {
    margin-top: 30px;
    padding: 50px 0;
    background-color: #f9f9f9;
    
}

.replay-header-title::first-letter{
    text-transform: uppercase;

    
}
.replay-header-title::after{
    content: "";
    display: block;
    margin:10px 0 5px 0;
    background-color: #6195ff;
    width: 44px;
    height: 4px;
}
.replay-form{
    width: 70%;
    margin: 20px 0;
}
.replay input[type="text"] , .replay input[type="email"]{
    display: inline-block;
    width: 46%;
    border: none;
    border: 1px solid#ddd;
    background-color: #e7e0e063;
    padding: 10px;
    text-transform: capitalize;
  

}
.replay input[type="text"]{

       margin-right: 10px;

}
.replay input[type="text"]::placeholder ,.replay input[type="email"]::placeholder{
    color: #ddd;
}
.replay-form textarea{
   
    height: 70px;
    margin:10px 0 20px;
    border: none;
    border: 1px solid#ddd;
    background-color: #e7e0e063;
}
.replay-form textarea::placeholder{
    padding: 10px;
    text-transform: capitalize;
    color: #ddd;
}
.replay-form button{
    width: 150px;
    padding: 15px;
    color: #fff;
    background-color: #6195ff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}
/* end section replay*/
/*footer section*/
.footer{
    background-color:#545252;

    text-align: center;
    padding: 60px;
}

.footer-links{

    margin: 20px 0;

}
.footer-links li{
    display: inline-block;
}


.footer-links li a {
    display: block;
    width: 50px;
    height: 50px;
    background-color:#6195ff;
    color: #fff;
    margin: 0 5px;
    border-radius: 5px;
    transition: color 0.5;
}
.footer-links li a:hover{
opacity: .5;
}
.footer-links li a i{
    line-height: 50px;
}
.footer-copyright{
    
    color: #ddd;
}
.footer-copyright span{
    color: #6195ff;
    text-transform:uppercase;
}
.footer a {
    width: 50px;
    height:50px;
    background-color: #6195ff;
    margin-left: auto;
    display: block;
    padding: 5px;
    border-radius: 5px;
    transform: .5s;
}
.footer a:hover{
    opacity: .5;
}
.footer a i{
    color: #fff;
    line-height: 50px;
    
}